In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("BTC_USD_2013-10-01_2020-09-05-CoinDesk.csv")

In [4]:
df.head()

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
0,BTC,2013-10-01,123.65499,124.30466,124.75166,122.56349
1,BTC,2013-10-02,125.45500,123.65499,125.75850,123.63383
2,BTC,2013-10-03,108.58483,125.45500,125.66566,83.32833
3,BTC,2013-10-04,118.67466,108.58483,118.67500,107.05816
4,BTC,2013-10-05,121.33866,118.67466,121.93633,118.00566

In [5]:
new_df = df.loc[:, 'Date':'Closing Price (USD)']

In [6]:
new_df.head()

         Date  Closing Price (USD)
0  2013-10-01            123.65499
1  2013-10-02            125.45500
2  2013-10-03            108.58483
3  2013-10-04            118.67466
4  2013-10-05            121.33866

In [7]:
# Calculate simple rolling average of 7 days 
Simple_rolling_average = new_df.rolling(window=7, on='Date').mean()

In [11]:
Simple_rolling_average.head()

         Date  Closing Price (USD)
0  2013-10-01                  NaN
1  2013-10-02                  NaN
2  2013-10-03                  NaN
3  2013-10-04                  NaN
4  2013-10-05                  NaN