In [1]:
import pandas as pd

In [3]:
file_name = 'pmsm_temperature_data.csv'
df = pd.read_csv(file_name)
df.head()

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
0,-0.752143,-1.118446,0.327935,-1.297858,-1.222428,-0.250182,1.029572,-0.245860,-2.522071,-1.831422,-2.066143,-2.018033,4
1,-0.771263,-1.117021,0.329665,-1.297686,-1.222429,-0.249133,1.029509,-0.245832,-2.522418,-1.830969,-2.064859,-2.017631,4
2,-0.782892,-1.116681,0.332771,-1.301822,-1.222428,-0.249431,1.029448,-0.245818,-2.522673,-1.830400,-2.064073,-2.017343,4
3,-0.780935,-1.116764,0.333700,-1.301852,-1.222430,-0.248636,1.032845,-0.246955,-2.521639,-1.830333,-2.063137,-2.017632,4
4,-0.774043,-1.116775,0.335206,-1.303118,-1.222429,-0.248701,1.031807,-0.246610,-2.521900,-1.830498,-2.062795,-2.018145,4

In [4]:
df.columns

Index(['ambient', 'coolant', 'u_d', 'u_q', 'motor_speed', 'torque', 'i_d',
       'i_q', 'pm', 'stator_yoke', 'stator_tooth', 'stator_winding',
       'profile_id'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998070 entries, 0 to 998069
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ambient         998070 non-null  float64
 1   coolant         998070 non-null  float64
 2   u_d             998070 non-null  float64
 3   u_q             998070 non-null  float64
 4   motor_speed     998070 non-null  float64
 5   torque          998070 non-null  float64
 6   i_d             998070 non-null  float64
 7   i_q             998070 non-null  float64
 8   pm              998070 non-null  float64
 9   stator_yoke     998070 non-null  float64
 10  stator_tooth    998070 non-null  float64
 11  stator_winding  998070 non-null  float64
 12  profile_id      998070 non-null  int64
dtypes: float64(12), int64(1)
memory usage: 99.0 MB

In [8]:
df.describe()['i_d']

count    998070.000000
mean          0.006043
std           0.998994
min          -3.245874
25%          -0.756296
50%           0.213935
75%           1.013975
max           1.060937
Name: i_d, dtype: float64

In [19]:
df_max  = df.groupby(['profile_id']).max()

In [20]:
df_max['torque']

profile_id
4     1.967097
6     2.262785
10    1.501387
11    2.330284
20    2.662035
27    2.724449
29    3.014827
30    2.469127
31    0.691438
32    2.040346
36    3.016971
41    2.565514
42    1.796277
43    2.565514
44    2.252053
45    2.252053
46    1.918725
47    1.918805
48    2.844878
49    2.848040
50    2.848040
51    2.785956
52    2.823041
53    2.830619
54    2.819444
55    2.819444
56    2.810713
57    2.358685
58    2.781197
59    2.530084
60    2.759699
61    2.723678
62    2.770747
63    2.805903
64    2.755085
65    2.727986
66    2.662138
67    2.770747
68    2.743175
69    2.715723
70    2.714010
71    2.843949
72    2.858840
73    2.743036
74    2.737177
75    2.722301
76    2.582917
77    2.770747
78    2.370919
79    2.861490
80    2.712250
81    2.770747
Name: torque, dtype: float64

In [21]:
df_max['motor_speed']

profile_id
4     2.024164
6     1.483038
10    2.022567
11    1.990796
20    1.888867
27    1.942964
29    2.007902
30   -0.161881
31    2.024136
32    0.941949
36   -0.248458
41    1.483042
42    0.942024
43    1.483032
44    1.753590
45    1.483040
46    1.971146
47    1.971411
48    2.011236
49    2.007157
50    2.007095
51    1.961654
52    1.958184
53    1.992377
54    1.985970
55    1.985965
56    2.014061
57    1.992713
58    1.995248
59    1.968252
60    1.970819
61    1.985544
62    1.969298
63    1.994525
64    1.958625
65    2.002607
66    2.011761
67    1.969274
68    1.994083
69    1.976183
70    1.969163
71    1.996001
72    1.997176
73    1.981473
74    1.993489
75    1.992735
76    1.994664
77    1.997922
78    1.971123
79    1.995979
80    1.993603
81    1.969289
Name: motor_speed, dtype: float64

In [33]:
df[(df['profile_id']==4)]

,ambient,coolant,u_d,u_q,motor_speed,torque,i_d,i_q,pm,stator_yoke,stator_tooth,stator_winding,profile_id
0,-0.752143,-1.118446,0.327935,-1.297858,-1.222428,-0.250182,1.029572,-0.245860,-2.522071,-1.831422,-2.066143,-2.018033,4
1,-0.771263,-1.117021,0.329665,-1.297686,-1.222429,-0.249133,1.029509,-0.245832,-2.522418,-1.830969,-2.064859,-2.017631,4
2,-0.782892,-1.116681,0.332771,-1.301822,-1.222428,-0.249431,1.029448,-0.245818,-2.522673,-1.830400,-2.064073,-2.017343,4
3,-0.780935,-1.116764,0.333700,-1.301852,-1.222430,-0.248636,1.032845,-0.246955,-2.521639,-1.830333,-2.063137,-2.017632,4
4,-0.774043,-1.116775,0.335206,-1.303118,-1.222429,-0.248701,1.031807,-0.246610,-2.521900,-1.830498,-2.062795,-2.018145,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33418,0.276746,-1.088478,0.315579,-0.708670,-0.951875,-0.255931,1.029120,-0.245731,-2.027046,-1.747146,-1.985760,-1.971676,4
33419,0.285366,-1.087670,0.315788,-0.708644,-0.951892,-0.256015,1.029162,-0.245710,-2.027100,-1.747187,-1.985760,-1.971718,4
33420,0.303218,-1.086620,0.315418,-0.708799,-0.951891,-0.256042,1.029140,-0.245723,-2.028079,-1.747155,-1.985760,-1.970610,4
33421,0.308903,-1.085028,0.315349,-0.709161,-0.951874,-0.256056,1.029118,-0.245730,-2.028595,-1.747225,-1.985760,-1.970954,4
33422,0.326683,-1.083081,0.315131,-0.708598,-0.951884,-0.256077,1.029154,-0.245709,-2.028761,-1.747316,-1.985760,-1.971201,4

In [36]:
profile_4_df = df[(df['profile_id']==4)]

In [38]:
profile_4_df.to_excel("profile_4_df.xlsx")